{% extends "base.html.twig" %}

{% block body %}


	<div class="container bg-light">
		<p>Changer de mot de passe</p>
		{{ form_start(passwordFormView) }}
		{{ form_row(passwordFormView.oldPassword) }}
		{{ form_row(passwordFormView.plainPassword) }}
		{{ form_end(passwordFormView) }}
	</div>


{% endblock %}
