{% extends "shared/_nude.html.twig" %}

{% block body %}

	{{ form_start(formView) }}
	{{ form_errors(formView) }}
	
	{{ form_row(formView.username) }}

	<button type="submit" class="btn btn-success mt-3">
		Modifier son profil
	</button>
	{{ form_end(formView) }}
{% endblock %}
