{% extends 'base.html.twig' %}

{% block title %}
	Inscription réussie
{% endblock %}

{% block body %}
	
    <div class="container">
    <div class="row">
    Inscription réussie ! Vous pouvez à présent vous connecter mais votre profil doit être validé par un administrateur avant d'être affiché
    </div>
    </div>

{% endblock %}
