<div class="container text-center">

	<h1>Fleeting Reset Password</h1>

	<p>Pour créer un nouveau mot de passe, cliquez sur le lien suivant</p>

	<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

	<p>This link will expire in
		{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

	<p>A bientôt sur Fleeting</p>

</div>
