{% extends 'base.html.twig' %}

{% block title %}Recréer un mot de passe
{% endblock %}

{% block body %}

	<div class="container">
		<h1>Recréer un mot de passe</h1>

		{{ form_start(resetForm) }}
		{{ form_row(resetForm.plainPassword) }}
		{{ form_end(resetForm) }}

	</div>
{% endblock %}
