{% extends "shared/_nude.html.twig" %}



{% block body %}
	<h1>
		Bienvenue sur la page d'administration
	</h1>
	Vous avez X demandes d'inscription d'annonceurs en attente : <a href="{{ path('announceradmin') }}">voir les demandes d'inscription</a>

{% endblock %}
