{% extends "base.html.twig" %}

{% block body %}

	
<div class="container">

	<div class="product payment-form">
		<h4>Recapitulatif de votre choix</h4>


		<div class="description card-element">
			Abonnement Fleeting 3 mois <br>
			Une certaine somme €
		</div>
		<button type="button" id="checkout-button">Accéder au paiement</button>

        <div>
		<a href="{{path('vip')}}">Revenir aux offres</a>
        </div>
	</div>
</div>



{% endblock %}


{% block javascripts %}
    <script src="https://js.stripe.com/v3/"></script>

     <script type="text/javascript">
    // Create an instance of the Stripe object with your publishable API key
    var stripe = Stripe("{{publickey}}");
    var checkoutButton = document.getElementById("checkout-button");
    checkoutButton.addEventListener("click", function () {
      fetch("/vip/checkout", {
        method: "POST",
      })
        .then(function (response) {
          return response.json();
        })
        .then(function (session) {
          return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then(function (result) {
          // If redirectToCheckout fails due to a browser or network
          // error, you should display the localized error message to your
          // customer using error.message.
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function (error) {
          console.error("Error:", error);
        });
    });
  </script>
{% endblock %}