{% extends "base.html.twig" %}

{% block body %}

	
<div class="container">



  <form id="payment-form">
	<h4>Abonnement mensuel Fleeting VIP</h4>
    <div id="card-element">
  <div>En vous abonnant au statut VIP, vous consentez à un prélèvement mensuel de 34,90€ par mois.<br>Vous pouvez à tout moment stopper cet abonnement en vous rendant dans votre profil</div>
      <!-- Elements will create input elements here -->
    </div>
    <!-- We'll put the error messages in this element -->
    <div id="card-element-errors" role="alert"></div>
    <button id="checkout">Subscribe</button>
  </form>
	

</div>

{% endblock %}


{% block javascripts %}
<script src="https://js.stripe.com/v3/"></script>

	<script>
    const stripe = Stripe('{{stripePublicKey}}');
    const sessionId = '{{sessionId}}';
    const priceId = 'price_1IkDp4DTsj5RSWQCno9DR63U';
	</script>

<script>

</script>


<script>
document
  .getElementById("checkout")
  .addEventListener("click", function(evt) {
     evt.preventDefault();
    // You'll have to define PRICE_ID as a price ID before this code block
      stripe
        .redirectToCheckout({
          sessionId: sessionId
        })
        .then(handleResult);
    });
</script>
{% endblock %}