<div
	class="d-flex" id="wrapper">

	<!-- Sidebar -->
	<div class="bg-dark border-right" id="sidebar-wrapper">
		<div class="sidebar-heading">
			Start Bootstrap
		</div>
		<div class="list-group list-group-flush">
			<a href="#" class="list-group-item list-group-item-action bg-dark">
				Dashboard
			</a>
			<a href="#" class="list-group-item list-group-item-action bg-dark">
				Shortcuts
			</a>
			<a href="#" class="list-group-item list-group-item-action bg-dark">
				Overview
			</a>
			<a href="#" class="list-group-item list-group-item-action bg-dark">
				Events
			</a>
			<a href="#" class="list-group-item list-group-item-action bg-dark">
				Profile
			</a>
					{% if formView is defined %}
				<div class="form-inline">
					{{ form_start(formView) }}
					{{ form_widget(formView) }}
					<button type="submit" class="btn btn-success">Rechercher</button>
					{{ form_end(formView) }}
				</div>
				{% endif %}
		</div>
	</div>
	<!-- /#sidebar-wrapper -->

	<!-- Page Content -->
	<div id="page-content-wrapper">

		{% include "shared/_navbar.html.twig" %}

		<div class="container-fluid">
			<h1 class="mt-4">
				Simple Sidebar
			</h1>
			<p>
				The starting state of the menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will change.
			</p>
			<p>
				Make sure to keep all page content within the
				<code>
					#page-content-wrapper
				</code>
				. The top navbar is optional, and just for demonstration. Just create an element with the
				<code>
					#menu-toggle
				</code>
				ID which will toggle the menu when clicked.
			</p>
		</div>
	</div>
	<!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Menu Toggle Script -->
<script>
	$ ("#menu-toggle").click (function (e) {
e.preventDefault ();
$ ("#wrapper").toggleClass ("toggled");
});
</script>
