main
    background-color: #0000007c
    margin: 50px
    .videoBanner
        background-color: #000
        margin-top: -48px

    #carouselVip
        img
            width: 256px
            height: 294px
            border-radius: 5px
            +st-sm
                width: 293px
                height: 250px
        .carousel-caption
            transition-duration: 1s
            background-color: rgba(#dbb023, 0.5)
            color: #000
            bottom: 0
            padding: 5px
            border-radius: 5px

    #carousel
        img
            width: 256px
            height: 294px
            +st-sm
                width: 293px
                height: 250px
        .carousel-caption
            transition-duration: 1s
            background-color: rgba(#000, 0.5)
            bottom: 0
            padding: 5px
            border-radius: 5px
    .carousel:hover
        .carousel-caption
            transition-duration: 1s
            background-color: rgba(#000, 0.8)
    
    .advancedSearch
        button
            color: $third-color
            background-color: $primary-color
            border: 1px solid #ffda6c
        button:hover
            background-color: #302600
            
