$primary-color: #333
$secondary-color: #334


.navbar
    .container-fluid
        display: flex
        justify-content: space-between

.navbar-nav
    margin-bottom: 2
    a.nav-link, .btn
        color: #c98e0f