@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap);
body {
  background-color: #191919;
  font-family: "Josefin Sans", sans-serif;
  font-weight: normal;
}

nav.navbar {
  background-color: #0000007c;
  border-bottom: 1px solid #fff4d4;
}
nav.navbar a.navbar-brand {
  border-right: 1px solid #fff6d0;
}
nav.navbar a.navbar-brand img {
  animation: heartbeat 8s ease-in-out infinite both;
}
@-webkit-keyframes heartbeat {
  0% {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
@-moz-keyframes heartbeat {
  0% {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
@-ms-keyframes heartbeat {
  0% {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  0% {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
nav.navbar .navbar-toggler {
  color: #f4d8a9;
}
nav.navbar .btn {
  color: #f4d8a9;
  background-color: #191919;
  border: 1px solid #f4d8a9;
}
@media screen and (max-width: 575px) {
  nav.navbar .register-dropdown {
    width: 100%;
  }
}
nav.navbar .register-dropdown-menu {
  min-width: 100%;
  background-color: #191919;
}
nav.navbar .register-dropdown-menu .dropdown-item {
  color: #f4d8a9;
  padding: 4px 5px 4px 15px;
}
@media screen and (max-width: 575px) {
  nav.navbar .register-dropdown-menu .dropdown-item {
    text-align: center;
  }
}
nav.navbar .register-dropdown-menu .dropdown-item:hover {
  background-color: #302600;
}
nav.navbar .desktopSearchDropdown {
  position: initial;
  left: -10rem;
  top: 4rem;
  padding: 0;
  margin: 0;
  border: none;
  height: 2.4rem;
}
nav.navbar .mobileSearch {
  margin-left: -15px;
}
@media screen and (min-width: 576px) {
  nav.navbar .mobileSearch {
    display: none;
  }
}
nav.navbar .nav-link i {
  color: #f4d8a9;
}
nav.navbar .desktopSearch .nav-link i {
  color: #f4d8a9;
}
nav.navbar .desktopSearch .dropdown-toggle::after {
  color: #f4d8a9;
}
@media screen and (max-width: 575px) {
  nav.navbar .desktopSearch {
    display: none;
  }
}

.footerSass {
  border-top: 1px solid #fff4d4;
  color: #f4d8a9;
}
.footerSass a {
  color: #f4d8a9;
}

video {
  position: fixed;
  right: 0;
  bottom: -5%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}
@media screen and (max-width: 575px) {
  video {
    display: none;
  }
}

@media screen and (min-width: 576px) {
  .desktop-bg {
    background: url(/image/luxurious-black-marble.jpg);
    background-size: cover;
  }
}
@media screen and (max-width: 575px) {
  .desktop-bg .mobile-bg {
    background: black url(/image/posterbrand.png);
    z-index: -100;
    background-size: cover;
  }
}

main {
  margin: 50px;
}
main .videoBanner {
  background-color: #000;
  margin-top: -48px;
}
main #carouselVip img {
  width: 256px;
  height: 294px;
  border-radius: 5px;
}
@media screen and (max-width: 575px) {
  main #carouselVip img {
    width: 293px;
    height: 250px;
  }
}
main #carouselVip .carousel-caption {
  transition-duration: 1s;
  background-color: rgba(219, 176, 35, 0.5);
  color: #000;
  bottom: 0;
  padding: 5px;
  border-radius: 5px;
}
main #carousel img {
  width: 256px;
  height: 294px;
}
@media screen and (max-width: 575px) {
  main #carousel img {
    width: 293px;
    height: 250px;
  }
}
main #carousel .carousel-caption {
  transition-duration: 1s;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  padding: 5px;
  border-radius: 5px;
}
main .carousel:hover .carousel-caption {
  transition-duration: 1s;
  background-color: rgba(0, 0, 0, 0.8);
}
main .advancedSearch {
  background-color: #191919;
  border: 2px solid #fff4d4;
  border-radius: 5px;
  color: #fff4d4;
}
main .advancedSearch button {
  color: #f4d8a9;
  background-color: #191919;
  border: 1px solid #f4d8a9;
}
main .advancedSearch button:hover {
  background-color: #302600;
}

.chatContainer {
  background-color: #191919;
}
.chatContainer .chatBloc {
  background-color: #AB942C;
}
.chatContainer .chatBloc .chatText {
  height: 700px;
  overflow: auto;
}
.chatContainer .chatBloc .chatText .row {
  width: 60%;
  padding: 3px;
}

#payment-form {
  box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1), 0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
  padding: 40px;
  background-color: #AB942C;
}
#payment-form #card-element {
  width: 50%;
  margin: auto;
  padding: 5px;
  border-radius: 4px 4px 0 0;
  border: 1px solid rgba(50, 50, 93, 0.1);
  background: #596fd6;
}
#payment-form button {
  width: 50%;
  margin-right: auto;
  margin-bottom: 50px;
  background: #f4d8a9;
  color: #ffffff;
  border-radius: 0 0 4px 4px;
  border: 0;
  padding: 12px 16px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
}
#payment-form a {
  color: #596fd6;
  font-weight: 600;
  text-decoration: none;
}

.announcer {
  background-color: #191919;
  border: 2px solid #fff4d4;
  color: #fff4d4;
  border-radius: 5px;
  padding: 10px;
}
.announcer h1 {
  color: #fff4d4;
}
.announcer .my-2 a {
  color: #9b7a18;
}
.announcer button {
  color: #f4d8a9;
  background-color: #191919;
  border: 1px solid #ffda6c;
}
.announcer button:hover {
  background-color: #302600;
}

.user {
  background-color: #AB942C;
}
.user h1 {
  color: #191919;
}
.user .my-2 a {
  color: #9b7a18;
}
.user button {
  color: #f4d8a9;
  background-color: #191919;
  border: 1px solid #ffda6c;
}
.user button:hover {
  background-color: #302600;
}

.login {
  background-color: #AB942C;
}
.login h1 {
  color: #191919;
}
.login .my-2 a {
  color: #9b7a18;
}
.login button {
  color: #f4d8a9;
  background-color: #191919;
  border: 1px solid #ffda6c;
}
.login button:hover {
  background-color: #302600;
}

.profile {
  background-color: #191919;
  border: 2px solid #fff4d4;
  border-radius: 5px;
}
.profile tr {
  color: #fff4d4;
}
.profile h1 {
  color: #191919;
}
.profile .my-2 a {
  color: #9b7a18;
}
.profile a.btn-color {
  color: #f4d8a9;
  background-color: #191919;
}
.profile button {
  color: #f4d8a9;
  background-color: #191919;
  border: 1px solid #ffda6c;
}
.profile button:hover {
  background-color: #302600;
}

/*# sourceMappingURL=styles.css.map */
