$primary-color: #181300
$secondary-color: #ffffff
$third-color: #f7da59
$fourth-color: #E3E3E3

body
    background-color: $primary-color

@import keyframes
@import media-queries
@import navbar
@import base
@import home
@import chat
@import checkout